@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 400;
  src: url('//fastly.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'), url('//fastly.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
}
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 700;
  src: url('//fastly.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2') format('woff2'), url('//fastly.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff') format('woff');
}
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 300;
  src: url('//fastly.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2') format('woff2'), url('//fastly.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff') format('woff');
}
.lottemartdream * {
 font-family: 'LotteMartDream', sans-serif;
}



/* TopCafesSheet.css */

/* 'TopCafesSheet' 전체 컨테이너 */
.sheet-container {
  position: absolute;
  left: 0; right: 0; bottom: 0;
  
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  
  transition: transform .35s ease-in-out;
  transform: translateY(calc(100% - 120px)); /* 기본적으로 바 아래에 위치 */
  z-index: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;  /* 높이를 자동으로 계산 */
  max-height: 770px;  /* 최대 높이를 85%로 설정 */
  overflow: hidden; /* 내용이 넘칠 경우 스크롤을 적용 */
  padding: 0 29px;
    background: linear-gradient(180deg, var(--Color, rgba(255, 255, 255, 0.50)) 40%, rgba(96, 165, 250, 0.50) 100%), var(--Color, #FFF);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.40);
}

/* 'expanded' 클래스가 적용된 경우 바가 올라가면서 화면 표시 */
.sheet-container.expanded {
  transform: translateY(0); /* 바가 최상단으로 올라옴 */
}

/* 헤더 영역 */
.sheet-header {
  position: sticky;
  top: 0;
  background: #ffffff;
  /* padding: auto; */

  cursor: pointer;
  flex-shrink: 0;
  z-index: 2;
  width: 100%;
}

.sheet-title{
  color: #000000;

  /* cheading-small-bold */
  font-family: "LotteMartDream";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 28px */
  letter-spacing: -0.24px;
}

/* 드래그 바 (grabber) */
/* .grabber {
  width: 40px;
  height: 5px;
  background: #d9d9d9;
  border-radius: 4px;
  margin: 0 auto 10px;
  padding: auto;
} */

.grabber-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 0 32px 0;
  width: 100%;
  
  
}

/* 헤더 내용 */
.header-content {
  display: flex;
  justify-content: space-between;

}

.header-content .current-time {
  font-size: 12px;
  color: #888;
  margin-bottom: 5px;
}

.sheet-title {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.sheet-title .nickname {
  color: #e6b823;
}

/* 카페 리스트 영역 */
.cafe-list {
  
  margin-top:20px ;
  margin-bottom: 50px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; /* 아이폰 하단 안전 영역 여백 */
}

.cafe-list::-webkit-scrollbar {
  display: none;  /* 스크롤바 숨기기 */
}


/* TopDetail 전용 컨테이너 - 부모 시트 레이아웃과 충돌 방지 */
/* .topdetail-container {
  position: relative;
  background: #fff;
  border-radius: 14px;

} */







.mode-toggle-icons{
  display: flex;
  gap: 4px;
  width: 100px;
  align-items: flex-end;
  justify-content: flex-end;
}

.cafe-list.use-flex {
  display: flex;
  flex-direction: column;  /* 가로 배치면 row */
  gap: 12px;               /* 카드 사이 간격 */
}