/* FindRoute.css */


.find-route-panel {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 370px;
  
  background-color: white;
    border: 1px solid var(--color-text-secondary, #57534E);

  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 19px 20px 20px 21px;
  box-sizing: border-box;
  z-index: 1000;
  font-family: "LotteMartDream";
  
}

.routIcon-box{
  background-color: #44392B;
  width:54px;
  height: 54px;
  border-radius: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.route-summary{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.find-route-panel .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: #888;
  font-size: 15px;
  
}

.img-box{
  display: flex;
  align-items: end;

}

.close-button{
  z-index: 9999999;
}





.route-name{
  font-size: 16px;
  letter-spacing: 0.232px;
  line-height: 142.9%; /* 22.864px */
  color: #000;
  align-self: stretch;
}

.time-box{
color: var(--color-pin-Route, #2563EB);
/* Cheading-large-bold */

font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 133.4%; /* 53.36px */
letter-spacing: -0.92px;
}

.time-box span{
  color: #000;

/* clabel-medium-regular */

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 142.9%; /* 22.864px */
letter-spacing: 0.232px;
}


.panel-content{
  display: flex;
}





