@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 400;
  src: url('//fastly.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'), url('//fastly.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
}
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 700;
  src: url('//fastly.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2') format('woff2'), url('//fastly.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff') format('woff');
}
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 300;
  src: url('//fastly.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2') format('woff2'), url('//fastly.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff') format('woff');
}
.lottemartdream * {
 font-family: 'LotteMartDream', sans-serif;
}


.point-container {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
 
  align-items: center;
  z-index: 1000;


  border-radius: 30px;

  background: var(--Color, #FFF);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 5px 20px;
  display: flex;
  gap: 10px;
  
}

.nickname {
  font-size: 20px;
  font-weight: 700;
  color: #F59E0B;
  display: flex;
  align-items: center;
  
}

.nickname span {

  font-size: 16px;
  font-weight: 400;
  color: black;
  
}