@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 400;
  src: url('//fastly.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'), url('//fastly.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
}
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 700;
  src: url('//fastly.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2') format('woff2'), url('//fastly.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff') format('woff');
}
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 300;
  src: url('//fastly.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2') format('woff2'), url('//fastly.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff') format('woff');
}
.lottemartdream * {
 font-family: 'LotteMartDream', sans-serif;
}


li {
  list-style-type: none;
  width: 100%;
}

ul{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.sheet-container{
    
    background: linear-gradient(180deg, var(--Color, rgba(255, 255, 255, 0.50)) 40%, var(--color-primary-Pressed-Background, rgba(251, 191, 36, 0.15)) 100%), var(--Color, #FFF);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.40);
    
    
}

.topdetail-container {
    position: relative;
  touch-action: pan-y;
  -webkit-user-select: none;
  user-select: none;
 

   
}




.topdetail-container{
    width: 332px;
    
}

.sheet-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* background-color: rgb(255, 255, 255); */
}

.header{
    width: 100%;
    padding-top: 0px;
    
    gap: 10px; 
    justify-content: start;
    
}

.cafe-name {
  text-align: left;
  margin: 0;
  word-break: keep-all;
  font-size: 30px;
  font-weight: 700;
  line-height: 120%; /* 42px */
  
  /* ✅ 이 속성 하나로 정리 */
  overflow-wrap: break-word;
  
  /* 불필요한 속성 제거 */
  /* white-space: normal; (기본값) */
  /* word-break: keep-all; (줄바꿈이 안 될 수 있음) */
  /* word-break: break-all; (너무 자주 끊어질 수 있음) */
}

.close-button{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    color: #44392B;
    background-color: #ffffff;
    z-index: 100;
    cursor: pointer;
}

.header span{
    display: inline-block;
   font-family: "LotteMartDreamBold";
   font-size: 16px;
   display: flex;
   align-items: flex-end;
   line-height: 160%;
   

   color: #57534E;
   
   
   vertical-align: bottom;
   
}

.header img{
    margin-left: auto;
}

.plus{
    background-color: rgba(128, 128, 128, 0.6);
    height: 78px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}





.img_con img{
    border-radius: 5px;
    object-fit: cover;
 
}

.img_con{
    display: flex;
    gap:6px;
    margin-top:16px;
    width: 100%;
    
}

.imgs{
    width: 100%;
}

.imgs img{
    border-radius: 5px;
    object-fit: cover;
    height: 78px;
    width: 100%;

}


.ditail_1{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    gap: 10px;
    font-size: 12px;
    font-family: "LotteMartDream";
    color: #57534E;
}
.rate_con{
    display: flex;
    gap: 5px;
    font-size: 30px;
    color: #F59E0B;
}

.rate_con span{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: "LotteMartDream";
    color: #57534E;
}

#ui_bar{
    margin: 0;
    padding: 0;
}

.ditail_2{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    padding: 0;
}

.element{
    display: flex;
    font-family: "LotteMartDream";
    font-size: 16px;
    
    font-weight: 400;
    line-height: 142.9%; /* 22.864px */
    letter-spacing: 0.232px;
    text-align: center;
    align-items: center;
    /* background-color: rgb(255, 255, 255); */

    justify-content: space-between;
    
}

.sub-element{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;

}
.sub-element span{
    display: flex;
    align-items: center;
    text-align: center;
    
}

.cong{
    display: flex;
    align-items: center;
    gap: 10px;
}


.noise{
    display: flex;
    flex-direction: column;
}

.level{
    text-align: right;
    font-size: 10px;
    color: #737373;
    
}

.seats{
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 12px;
    
}
.seats span{
    margin: 0;
    padding: 0;
    line-height: 138.5%;

}


.find-route-button {
    
    margin-top: 20px;
    margin-bottom: 20px;
   
    width: 100%;
    border: none;

    height: 60px;
    border-radius: 30px;
    font-size: 20px;

    background-color: #44392B;
    color: #F8F2E2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    font-family: "LotteMartDream";
    font-weight: 700;
    cursor: pointer;



}
