body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
    font-family: '12LotteMartDreamBold';
    src: url('./assets/fonts/12LotteMartDreamBold.ttf') format('truetype'); /* 폰트 파일 경로 */
    font-weight: normal;
    font-style: normal;
}
